#--------------------------------------------------
# Activa el rewrite engine
#--------------------------------------------------
RewriteEngine on
#--------------------------------------------------
# Establece condiciones
#--------------------------------------------------
RewriteCond $1 !^(index\.php|resources|robots\.txt)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
#--------------------------------------------------
# Crea regla
#--------------------------------------------------
RewriteRule ^(.*)$ index.php/$1 [L,QSA]